.welcome{
  padding-top: 15px ;
  font-size: 35px;
  margin-bottom: 75px;
  color: lightyellow;
  text-align: center;
}



.welcome_text{
  padding-top: 15px ;
  font-size: 40px;
  margin-bottom: 150px;
  color: white;
  text-align: center;
}

.created_by{
  text-align: center;
  color: white;
}



body{
  background-image: url("/images/cat.png");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.language{
  color: green;
  font-size: 15px
}

.index_message{
  padding-top: 10px;
  color: yellow;
  font-size: 50px;
  text-align: center;
  margin-top: 45px;
}

#new_entry{
  color: white;
}


