<H1 class='index_message'>I can haz feedback<H1>

   <div class="row">

    <div class="col-md-5 col-md-offset-4 test1">

<form class="form-horizontal" role="form">
  <div class="form-group">
      <input type="username" class="form-control" for="Name" placeholder="Please leave your name">
      <input type="password" class="form-control" name="password" placeholder="What else would you like this chrome extension to do?">
      <a href="/sign_in"><button id='button1' type="button" class="btn btn-success">Submit Feeback</button></a>
  </div>

 </form>

  </div>

</div>
