    <title>Welcome to Twitter - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href="style.css">

  </head>


  <body>

    <section class="home">
    <nav class="nav">

      <div class="container">
        <div class="row">
          <div class="col-md-2 test1">
            <img class="twitter_bird" src="http://www.nyan.cat/cats/original.gif">
          </div>
          <div class="col-md-2 col-md-offset-8 test1">
            <p class="language">Language: I can English  </p>
          </div>
        </div>
      </div>
    </nav>

      <div class="container">

        <div class="row">
          <div class="col-md-5 col-md-offset-1 test1">
            <H2 class="welcome">Nyan Cat Chrome Extension</H2>
          </div>
          <div class="col-md-3 col-md-offset-1 ">
           <form class="form-horizontal" role="form">
            <div class="form-group">
               <input type="username" class="form-control" for="username" placeholder="Username">
               <input type="password" class="form-control" name="password" placeholder="Password">
                <button id='button1' type="button" class="btn btn-success">Sign In</button>
            </div>
           </form>
          </div>
        </div>




        <div class="row">

          <div class="col-md-5 col-md-offset-1 test1">
            <p class="welcome_text">Do you even Nyan Cat, bro?</p>
          </div>

          <div class="col-md-3 col-md-offset-1 test1">

            <form class="form-horizontal" role="form">

              <div class="form-group">Need a pick me up? Sign up here
                <input type="text" class="form-control" for="username" placeholder="Full Name">
                <input type="email" class="form-control" name="password" placeholder="Email">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <a href="/user/new"<button id='button2' type="button" class="btn btn-warning">Sign up to internets here</button>
              </div>

            </form>
        </div>
      </div>



        <div class="row">
          <div class="col-md-6 col-md-offset-3 test1">
            <p class="created_by">Created by Julian Gallegos      November 13, 2014
            </p>
          </div>
        </div>


      </div>

    </section>
